/* global parameters */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  --first-text-primary: #212121;
  --main-background-color: #ffffff;
  --highlight-color: #2196f3;
  --complementary-color: #2f303a;
}

/* body */
.body-styles {
  font-family: Roboto, sans-serif;
  color: var(--first-text-primary);
}

/*logo*/
.webcolor {
  text-decoration: none;
  color: var(--highlight-color);
}
.studiocolor {
  text-decoration: none;
  color: var(--first-text-primary);
}

/* button */
.font-size-title {
  font-size: 44px;
  color: var(--main-background-color);
  line-height: 60px;
}
.button,
.pointer,
.font-size-button {
  font-size: 16px;
  width: 200px;
  height: 50px;
  left: 734px;
  top: 441px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* navigation */
.text-nav {
  font-size: 14px;
  line-height: 16px;
}
.nav-link {
  color: #212121;
}
.nav-link:focus,
.nav-link:hover {
  color: #2196f3;
}
.pointer {
  cursor: pointer;
}

/* start main styles */
/* section one */

.complementary {
  background: var(--complementary-color);
}

.text {
  font-size: 14px;
  line-height: 16px;
}
