/* global parameters */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  --first-text-primary: #212121;
  --main-background-color: #ffffff;
  --highlight-color: #2196f3;
  --complementary-color: #2f303a;
  --complementary-color-text: #757575;
}

/* logo */
.webcolor {
  text-decoration: none;
  color: var(--highlight-color);
}
.studiocolor-top {
  text-decoration: none;
  color: var(--first-text-primary);
}

.studiocolor-bottom {
  text-decoration: none;
  color: var(--main-background-color);
}

/* body */
.body-styles {
  font-family: "Roboto", sans-serif;
  color: var(--first-text-primary);
}

/* font title */
.font-size-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--main-background-color);
}

/* button index */
.font-size-button-index {
  color: var(--main-background-color);
  line-height: 30px;
}

/* button portfolio */
.font-size-button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

/* navigation */
.text-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.nav-link-tel {
  text-decoration: none;
  color: var(--complementary-color-text);
}

.nav-link {
  text-decoration: none;
  color: #212121;
}
.nav-link:focus,
.nav-link:hover {
  color: #2196f3;
}

.pointer {
  cursor: pointer;
}

/* start main styles */
.complementary {
  background: var(--complementary-color);
}

.text-title-h2-index {
  font-size: 36px;
  line-height: 42px;
}

.text-title-h3-index {
  font-size: 14px;
  line-height: 16px;
}

.text-index {
  font-size: 14px;
  line-height: 24px;
}

.text-team-index {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.text-command-professions-index {
  font-size: 16px;
  line-height: 19px;
  color: var(--complementary-color-text);
}

.text-title-portfolio {
  font-size: 18px;
  line-height: 36px;
}

.text-portfolio {
  font-size: 16px;
  line-height: 30px;
  color: var(--complementary-color-text);
}

.footer {
  background: var(--complementary-color);
}

.address-index {
  color: var(--main-background-color);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.nav-text-footer {
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff99;
}

.nav-text-footer:focus,
.nav-text-footer:hover {
  color: #2196f3;
}
